---
layout: default
body_classes: page-list
---

{% include framework/blocks/sections/hero.html
  heading=page.hero.heading
  sub_heading=page.hero.sub_heading
  background_image=page.hero.background_image
  background_image_blend_mode=page.hero.background_image_blend_mode
  background_color=page.hero.background_color
  background_gradient=page.hero.background_gradient
  text_color=page.hero.text_color
  fullscreen_mobile=page.hero.fullscreen_mobile
  fullscreen_desktop=page.hero.fullscreen_desktop
  height=page.hero.height
  buttons=page.hero.buttons
%}


{% assign columns =  page.grid.columns%}
{% assign sections = page.grid.sections %}



<div class="section">
  <div class="container">
    <div class="row">
      {% for section in sections %}

        {% include framework/blocks/components/grid-header.html
          heading=section.name
          align="center"
        %}
        {% assign cards = section.people %}

        {% for card in cards limit: limit %}
          <div class="col-12 col-md-3 {{ columns }} {% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mb-3 mb-md-6">
            {% include theme/cards/card-team.html
              title=card.title
              description=card.description
              thumbnail=card.thumbnail
              weight=card.weight
              links=card.links
            %}
          </div>
        {% endfor %}


        {% include framework/blocks/components/grid-footer.html
          align="right"
        %}
      {% endfor %}
    </div>
  </div>
</div>
